body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f0f8ff;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	padding: 10px 0;
}
nav.head {
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

h1 {
	color: #5a189a;
}

section {
	margin: 20px 0;
}

footer {
	text-align: center;
	margin-top: 30px;
	padding: 10px 0;
	background-color: #76efff;
	color: #fff;
} 